@charset "utf-8";
/* CSS Document */
ul, li {list-style:none; margin:0; padding:0;}
a, img {border:0; outline:none; text-decoration:none}
#container {width:980px; margin:0 auto; position:relative;}
h1 {font-size:24px; color:#2E2E2E; text-shadow: 1px 1px 0px #fff, 0 0 1px #999; -moz-text-shadow: 1px 1px 0px #fff, 0 0 1px #999; -webkit-text-shadow: 1px 1px 0px #fff, 0 0 1px #999; text-align:center;}
h2 {font-size:20px; color:#2E2E2E; text-shadow: 1px 1px 0px #fff, 0 0 1px #999; -moz-text-shadow: 1px 1px 0px #fff, 0 0 1px #999; -webkit-text-shadow: 1px 1px 0px #fff, 0 0 1px #999;}
/*NEWS CONTAINER*/
#news_block {
	width:116px;
  height:511px;
	margin:0 auto;
	position:absolute;
	padding:18px 15px 10px;
	background:url(../img/bg_slider_set.png);
  top:60px;
  left:120px;
}
	
/*NEWS BOXES*/
.news_box {
	height:110px;
	width:110px;
	overflow:hidden;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
  margin-bottom:15px;
	margin-right:8px;
	background:#fff;
	}
#news_block .last {
	margin-right:0;
	}
.news_box .date {
	color:#6a6c67;
	font-size:10px;
	margin-bottom:10px;
	}
.news_box h2.title {
	color:#c63a50;
	font-size:12px;
	font-style:italic;
	margin-bottom:15px;
	}
.news_box .news_thumb {
	width:193px;
	height:146px;
	overflow:hidden;
	margin-bottom:6px;
	}
.news_box .description {
	color:#000;
	font-size:11px;
	margin-bottom:10px;
	}
.news_box .read_more {
	text-align:right;
	}
.news_box .read_more a {
	color:#333;
	font-size:11px;
	}
.news_box .read_more a:hover {
	color:#b7a470;
	}
	
.news_slider {
	width: 110px;
	height: 470px;
	position: relative;
	z-index: 10;
	margin:18px auto 10px;
	overflow:hidden;
	}
.news_slider ul.slides {
	position:relative;
	width:auto;
	height:435px;
	
	left:0;
	}
.news_slider ul.slides li {
  margin-top:49px;
	height:375px;
  overflow:hidden;
	}
	
/*LEFT and RIGHT ARROWS*/
.news_slider-right, .news_slider-left {
	background-image:url(../img/frecce_up_down_sprite.png);
	background-repeat:no-repeat;
	height:25px;
	width:37px;
	cursor: pointer;
	position:absolute;
	top:140px;
	z-index:100;
	}
.news_slider-right {
	background-position: 0 -25px;
	left:180px;
  top:535px;
	}
.news_slider-left {
  background-position: 0 0px;
	left:180px;
  top:100px;
	}
.news_slider-right:hover {
	background-position: 0px -85px;
	}
.news_slider-left:hover{
	background-position: 0px -60px;
	}
	
/*SPOTS*/
.news_slider-spots {
	text-align: center;
	list-style: none;
	width: auto;
	height:10px;
	margin:0 auto;
	position:absolute;
  top:605px;
  left:201px;
	overflow:hidden;
	}
.news_slider-spots li {
	background-image:url(../img/news_slider-step.png);
	background-repeat:no-repeat;
	background-position:0 0;
	position: relative;
	float:left;
	width: 10px;
	height: 8px; 
	text-indent:-9999px;
	outline:none;
	cursor:pointer;
	}
.news_slider-spots li:hover, .news_slider-spots li.active {
	background-position:-10px 0;
	}
	
/* REMOVE FROM HERE
DEMO PURPOSE ONLY*/

#inner {
	width:900px;
	margin:0 auto;
	font-size:14px;
	}
#inner a {
	color:#C63A50;
	text-decoration:underline;
	}
#inner ul, #inner li {
	margin:auto;
	list-style: inside;
	}
#inner li {
	margin:5px 10px;
	}
#inner h2 {
	border-bottom:3px solid #2e2e2e;
	}
#inner p.copyright {
	text-align:center;
	font-size:11px;
	border-top:1px solid #999;
	padding-top:15px;
	margin-top:20px;
	}
