body{
  background-color:#fffff7;
  background-image:url('../img/bg_parte_superiore.png');
  background-attachment:fixed;
  background-repeat:repeat-x;
  margin-top:0;
  margin-bottom:0;
}
#content_all{
  /*per centrare con position absolute */
  position:absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  /********/
  width:900px;
  padding-top:10px;
}
#contenuto{
  width:300px;
  position:absolute;
  left:560px;
  top:300px;
  font-family:TAHOMA;
  font-size:12pt;
  text-align:right;
}
#bottom_menubar{
  font:12px arial;
}
#bottom{
  width:835px;
  margin-top:5px;
  margin-left:30px
}
a:link {
  color:blue;
}