#slideshow {
    height: 603px;
    left: 17px;
    overflow-x: hidden;
    position: absolute;
    top: 17px;
    width: 865px;
    z-index: -3;
    background-color:white;
}
#slideshow IMG {
    position:absolute;
    width:425px;
    height:603px;
}
#slideshow IMG.active {
    z-index:10;
    opacity:1.0;
}
#slideshow IMG.last-active {
    z-index:9;
}